<nav class="navbar">
	<div class="container">
		<a class="navbar-brand" href="#">Quantiniuum Store</a>
		<div class="navbar-right">
			<div class="container minicart"></div>
		</div>
	</div>
</nav>

<div class="container-fluid breadcrumbBox text-center">
	<ol class="breadcrumb">
		<li class="active"><a href="#">Order</a></li>
		<li><a href="#">Review</a></li>
		<li><a href="#">Payment</a></li>
	</ol>
</div>

<div class="container text-center">

	<div class="col-md-5 col-sm-12">
		<div class="bigcart"></div>
		<h1>Your shopping cart</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<div class="col-md-7 col-sm-12 text-left">
		<ul>
			<li class="row list-inline columnCaptions">
				<span>QTY</span>
				<span>ITEM</span>
				<span>Price</span>
			</li>
			<li class="row">
				<span class="quantity">1</span>
				<span class="itemName">Pebble smart watch</span>
				<span class="popbtn"><a class="arrow"></a></span>
				<span class="price">$49.95</span>
			</li>
			<li class="row">
				<span class="quantity">2</span>
				<span class="itemName">USB C charging cables</span>
				<span class="popbtn"><a class="arrow"></a></span>
				<span class="price">$5.00</span>
			</li>
			<li class="row">
				<span class="quantity">20</span>
				<span class="itemName">Arm chairs</span>
				<span class="popbtn"><a class="arrow"></a></span>
				<span class="price">$919.99</span>
			</li>
			<li class="row">
				<span class="quantity">18</span>
				<span class="itemName">LED Bulbs</span>
				<span class="popbtn"><a class="arrow"></a></span>
				<span class="price">$269.45</span>
			</li>
			<li class="row">
				<span class="quantity">1</span>
				<span class="itemName">Drone</span>
				<span class="popbtn" data-parent="#asd" data-toggle="collapse" data-target="#demo"><a class="arrow"></a></span>
				<span class="price">$450.00</span>
			</li>
			<li class="row totals">
				<span class="itemName">Total:</span>
				<span class="price">$1694.43</span>
				<span class="order"> <a class="text-center">ORDER</a></span>
			</li>
		</ul>
	</div>

</div>

<!-- The popover content -->

<div id="popover" style="display: none">
	<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
	<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
</div>